/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
body {
    background-color: #d7cbcf;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-site-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin: 10px 10px;
}

.navbar-site-links > a:not(:last-child) {
    margin-right: 3vw;
}

.navbar-social-media-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 10px 10px;
}

.navbar-social-media-links > a > img {
    height: 32px;
    width: auto;
}

.navbar-social-media-links > a:not(:first-child) {
    margin-left: 1vw;
}

.site-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
