/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import url("fonts.css");
@import url("home.css");
@import url("movie-carousel.css");
@import url("movie-carousel-card.css");

:root {
    --header-font-size: 30px;
    --navbar-font-size: 25px;
}

body {
    background-color: #d7cbcf;
    margin: 0;
    padding: 0;
    font-family: RawengulkSans, sans-serif;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-site-links {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin: 10px;
}

.navbar-site-links a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: var(--navbar-font-size);
}

.navbar-site-links > a:not(:last-child) {
    margin-right: 3vw;
}

.navbar-social-media-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 10px;
}

.site-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.navbar-social-media-links > a > img {
    height: 32px;
    width: auto;
}

.navbar-social-media-links > a:not(:first-child) {
    margin-left: 1vw;
}
