@font-face {
    font-family: RawengulkSans;
    src:
        url("/assets/fonts/RawengulkSans-094.otf") format("opentype"),
        url("/assets/fonts/RawengulkSans-094.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
