.movie-poster {
    width: 100vw;
    height: 87vh;
}

.movie-poster-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-poster-captionbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.movie-poster-captionbar-item {
    font-size: 30px;
}

.movie-poster-captionbar-item:nth-of-type(1) {
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
}
