{{page-title "AboutMe"}}
<img
    class="about-me-header-photo"
    src="assets/images/about-me-header-photo.jpg"
    alt="The author, Stephanie Ward-Harvey, next to a cinematography camera in a movie equipment warehouse"
/>
<div class="about-me-container">
    <header>
        <p>
            Hey, I'm Stephanie.
        </p>
    </header>
    <a
        href="https://docs.google.com/document/d/1WyThcR1ndhRgi-TQRZfDWBoWDNGyo6n5lnYerQ5aBTY/edit?tab=t.0"
    >Click to download my RESUME</a>
    <article>
        <p>
            When I was young, I frequently spent every penny I earned on fresh
            DVDs and Blu-rays from the entertainment section at the local
            grocery store. My parents would shop and I would study each and
            every title, admiring the cover art and cast list, scooping them
            into my basket and excitedly heading home to escape into a universe
            where I could save the world.
        </p>
        <p>
            I have since embraced the world of filmmaking from both in front of
            and behind the camera, having experience in acting, assistant
            camera, grip and lighting, only to find my home in sound mixing and
            boom operation. As a woman in film, I strive to make film an
            accessible and fun learning environment all while doing what we
            storytellers do best...evoking emotion, creating connections and
            inspiring others.
        </p>
        <p>
            Keep filmmaking fun.
        </p>
        <img
            src="assets/images/swh-signature.png"
            alt="The elegant signature of the website's author, Stephanie Ward-Harvey."
        />
        <p>
            - Stephanie
        </p>
    </article>
    <img
        src="assets/images/about-me-photo-with-outline.png"
        alt="The author, Stephanie Ward-Harvey, making a peace sign with her right hand, standing on a sidewalk in a Portland suburb beside a cinematography camera on a tripod in the early evening."
    />
    <footer>
        <p>
            Stephanie Ward-Harvey is a 2022 graduate from Western Washington
            University with a Bachelor's degree in technical theatre/creative
            writing and most recently an award winning filmmaker. When she isn't
            making films herself, she is managing a non profit film camp for
            kids with NW Film Camp in Portland, OR and sipping a chai tea while
            reading Twilight and petting her cat Sokka.
        </p>
    </footer>
</div>